<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        
      <div class="card-body">
        <h4 class="card-title">Striped Table</h4>
        
        <div class="btn btn-success"><a routerLink="/admin/products/create">Thêm mới</a></div>

        <table class="table table-striped">
          <thead>
            <tr>
              <th> Ảnh </th>
              <th> Tên sản phẩm </th>
              <th> Số lượng </th>
              <th> Giá sản phẩm </th>
              <th> Ngày tháng </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="py-1">
                <img src="/assets/admin/images/faces-clipart/pic-1.png" alt="image" />
              </td>
              <td> Herman Beck </td>
              <td>
                <div class="progress">
                  <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </td>
              <td> $ 77.99 </td>
              <td> May 15, 2015 </td>
              <td class="btn btn-warning"><a routerLink="/admin/products/edit">Edit</a></td>
              <td class="btn btn-danger"><a routerLink="/admin/products/edit">Xóa</a></td>

            </tr>
         
          </tbody>
        </table>
      </div>
    </div>
  </div>
